* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f5;
}

h1 {
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: 700;
}
.app {
  display: flex;
  flex-direction: column;
  /* .......... */

  /* 800px */
  max-width: 80rem;
  /* background-color: white; */
  margin: 1.4rem auto;
}

/* ************************************** */
/* NAV SECTION */
/* ************************************** */

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f4fce3;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
}

.btn,
.drop-list {
  padding: 0.4rem;
  margin-right: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn {
  background-color: #5c7cfa;
  color: white;
}

.text-box {
  width: 20rem;
  height: 2rem;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}

.nav-stat {
  padding: 0.4rem;
}

/* ************************************** */
/* PACTING ITEM SECTION */
/* ************************************** */

.item-container {
  border: 0.8rem solid #dee2e6;
  border-radius: 5px;
  background-color: #dee2e6;
}

.item-container ul {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  gap: 0.8rem;

  padding: 0.8rem;
  list-style: none;
  transition: 5s;
}
/* ************************************** */
/* ITEM SECTION */
/* ************************************** */

.list {
  background-color: white;
  padding: 0.8rem;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-description,
.list-btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.btn-check {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ced4da;
  border-style: none;
}

ion-icon {
  height: 1.2rem;
  width: 1.2rem;
}

/* ************************************** */
/* Edit Form Section */
/* ************************************** */

.edit-form {
  display: flex;
  align-items: center;
}

.close-button {
  width: 2.6rem;
  height: 2rem;
}

.save-button {
  width: 3rem;
  height: 2rem;
  margin-right: 1rem;
}

.edit-form input {
  width: 24rem;
  height: 2rem;
  padding: 0.8rem;
  margin-right: 2rem;
}
